# Data types and structure

## Theory

1. What are data structures, and why are they important?
  - Data structure is the way to organize, store data so that it can accessed and manipulated efficiently later.
  - In Python the data structures are: List, set, tuple and dictionary etc.
  - It is important because of:
    - Efficiency,
    - Data organization,
    - Code optimization etc
2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types:
    - Mutable data type refers to the type of data store in a structure can be updated or modified after assigning once.
    - eg: Set, List etc
  - Immutable data types:
    - Immutable data types refers to the data store in such a type of structure where the data can not modified or update once after assigned.
    - eg: Tuple, string etc
3. What are the main differences between lists and tuples in Python ?
  - The main difference between list and tuple is, list is mutable and tuple is immutable.
  - Element operation is possible in list but not possible in tuple.
  - List is denoted in square bracket but tuple is denoted in small bracket.
4. Describe how dictionaries store data.
  - Dictionary stores data in key-value pair, where the key is converted in hash value by the built-in hash function and the value part is stored in the memory by the help of indexing.
  - Here the key works as the address which pointed to the value stored in the memory part.
5. Why might you use a set instead of a list in Python?
  - In Python all the types of data structure have different work technique, so the list and set works well in their place.
  - Set is unordered and stores unique element, while the list is the ordered collection of data items.
  - So, when we want only the unique item and no repetation, then we can use set instead of list.
6. What is a string in Python, and how is it different from a list ?
  - String is the collection of characters which is enclosed by single or double quote while list is the ordered collection of elements like string, list, numbers etc.
  - String is immutable while list is mutable.
  - String is used for text processing while list is used for handeling collection of data.
7. How do tuples ensure data integrity in Python ?
  - Tuple is an immutable data structure which means here changing of item value is not possible.
  - Data integrity means data must be unchanged, accurate and consistent which is possible by tuple ass it is immutable.
8. What is a hash table, and how does it relate to dictionaries in Python ?
  - Hash table is a data structure which maps the key to the value by a process called hashing.
  - The key is converted to a hash value by hashing and an index is assigned from the hash value in an array where the value can be stored.
  - The work flow is similar in both hash table and dictionary, thats how it relates to the hash table.
9. Can lists contain different data types in Python ?
  - Yes, list can store different data types like, integer, float, string, float, set, list etc in python.
  - List in Python is dynamically implemented so it is immutable and can store different types of data types.
10. Explain why strings are immutable in Python.
  - Strings are immutable in Python because it of its static implementation and it can not be changed after once inserted.
  - It is stored in a sequence of character so due to immutability it saves memory and makes program faster.
11. What advantages do dictionaries offer over lists for certain tasks ?
  - Dictionary and list are both are flexible data structures but dictionary is often better than list in cirtain tasks like, key-based access, faster lookup and structured data storage.
  - As we can give flexible keys so, it is more expressive so no need to remember the indices, and it uses the hashing technique so it has much faster lookup and better organization due to its hash value.
12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuple data structure is immutable but the list data structure is mutable so the case where we want to keep the value unchanged at any  condition, then there we can use tuple over list.
  - In INDIA aadhaar number is unique and remain same in every situation so in that case we can store them in tuple so that it can't be changed by any mistake.
13. How do sets handle duplicate values in Python ?
  - Set is an unordered collection of unique value where the duplicate value are automatically removed.
  - In set the value are converted in their hash value and it checks that if the value is present in the set or not , if present then it ignore it else it add the value in the set.
14. How does the “in” keyword work differently for lists and dictionaries ?
  - 'in' keyword is a membership operator in Python which checks the availability of an value in a container like list or dictionary.
  - In case of list it checks if the value is present or not in that container so it takes O(n) time but in dictionary it check if the hash value of the key is present or not so it takes only O(1) time which is much faster .
15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, we can not modify the elements of a tuple because tuple is immutable which doesn't allow modifing or changing .
  - It is immutable because of its static implementation which makes it faster and secure.
16. What is a nested dictionary, and give an example of its use case ?
  - Nested dictionary means dictionary inside dictionary where values are stored in dictionary type, which is used to store heiarchical data.
  - students = {
    "101": {"name": "Anupam", "age": 20, "marks": 92},
    "102": {"name": "Riya", "age": 21, "marks": 88},
    "103": {"name": "Rahul", "age": 19, "marks": 95}
    }

    print(students["101"]["name"])   # Output: Anupam
    print(students["103"]["marks"])  # Output: 95
17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing elements in a dictionary is O(1).
  - In dictionary the value are searched by the hash value of key of that element.
  - But in worst case the time complexity is O(n) when for finding the index value of the element causes many collision ans the hash value have the check the every index.
18. In what situations are lists preferred over dictionaries ?
  - The lists are preferredd over dictionary when there is no perticular name for the key so index is preferred more.
  - List is more preffered where data is ordered and accessed by position,
  - Where sequence and simplicity is more matter than structure.
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - In older version of Python, dictionaries are considered as unordered but after the Python 3.7 the dictionary maintain the order.
  - The data retrival requires key not index .
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In list, the data is accessed by index but in dictionary the data are accessed by the key.
  - In list, the retrival depends on the order but the dictionay doesn't require order.
  - The search speed in list is O(n) but in dictionay it is O(1).

## Code

In [ ]:
#1. Write a code to create a string with your name and print it.
my_name="Anupam Patra"
print("My name is ",my_name)

My name is  Anupam Patra

In [ ]:
#2.Write a code to find the length of the string "Hello World".
len("Hello World")

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
a="Python Programming"
print(a[:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
a="hello"
print(a.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
lis=[]
for i in range(1,6):
  lis.append(i)
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l1=[1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l2=[1,2,3,4,5]
l2.remove(3)
print(l2)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l3=['a','b','c','d']
print(l3[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
l4=[10, 20, 30, 40, 50]
l4.reverse()
print(l4)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
t1=(100,200,300)
print(t1)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2=('red', 'green', 'blue', 'yellow')
print(t2[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t3=(10, 20, 5, 15)
t4=sorted(t3)
print(t4[0])

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=('apple','kiwi','banana')
print('kiwi' in fruits)

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2={1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s3={1,2,3,4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [3]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a={1,2,3}
b={3,4,5}
c=a|b
print(c)

{1, 2, 3, 4, 5}

In [4]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1,2,3}
b={2,3,4}
c=a&b
print(c)

{2, 3}

In [5]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d1={"name":"Anupam","age":"19","city":"jajpur"}
print(d1)

{'name': 'Anupam', 'age': '19', 'city': 'jajpur'}

In [6]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d2={'name': 'John', 'age': 25}
d2.update({"country":"USA"})
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [7]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d3={'name': 'Alice', 'age': 30}
print(d3["name"])

Alice

In [8]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d4={'name': 'Bob', 'age': 22, 'city': 'New York'}
d4.pop("age")
print(d4)

{'name': 'Bob', 'city': 'New York'}

In [9]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d5={'name': 'Alice', 'city': 'Paris'}
print('city' in d5)

True

In [10]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list=[1,2,3]
my_tuple=('a','b','c')
my_dict={'name':'Anupam','age':19}
print("My list:",my_list)
print("My tuple:",my_tuple)
print("My dictionary:",my_dict)

My list: [1, 2, 3]
My tuple: ('a', 'b', 'c')
My dictionary: {'name': 'Anupam', 'age': 19}

In [13]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
li=[]
for i in range(5):
  li.append(random.randint(1,100))
li.sort()
print(li)

[22, 23, 30, 47, 65]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index
l=['a','b','c','d']
print(l[3])

d

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.
d1={'a':1,'b':2}
d2={'c':3,'d':4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30. Write a code to convert a list of strings into a set.
l=["a","b","c"]
s=set(l)
print(s)

{'b', 'a', 'c'}